$border-radius = 2px;
$control-height = 30px;
$dropdown-width = 130px;


$base-color = #212121;
$color-white = #fff;

$bg-black = #212121;
$bg-white = #fff;
$bg-green = #77b237;
$bg-green-2 = #89c13a;
$bg-green-3 = #95cd47;
$bg-gray = #e0e0e0;

/*$base-shadow-color = rgba(50, 50, 50, 0.45);*/
$base-shadow-color = rgba(0, 0, 0, 0.6);

$border-color-gray = #bdbdbd;