nav.navbar.navbar-inverse.navbar-fixed-top
    .container
        .navbar-header
            button.navbar-toggle.collapsed(aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" type="button")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(ui-sref="root")
                img(alt="Brand" ng-src="/spa/img/logo.png")
        #navbar.collapse.navbar-collapse
            ul.nav.navbar-nav
                li(ui-sref-active="active")
                    a(ui-sref="about") О компании