doctype html
html(xmlns:ng="https://angularjs.org" ng-app="app")
    head
        include ./head.jade
        include ./styles.jade
    body(ng-controller="LoadingIndicatorController")
        .overlay(ng-if="loading" ng-include="'balloon/tpl/index.html'")
        div(ui-view="root")
        include ./scripts.jade
