ul.b-inna-search__nav
  li
    | Перелет + Отель
.b-inna-search-form
  .b-inna-row
    form name="searchForm" 
      .b-inna-col-xs-3.b-inna-col-lg-6.b-inna-col-sm-12
        .b-inna-search-form-field.__typeahead
          input.b-inna-search-form-field-input [
            ng-change="fromIdError = null"
            name="DepartureId" 
            ng-model="search.DepartureId"
            placeholder="Откуда"
            type="text"
            typeahead="state as state.name for state in getLocationFrom($viewValue) | filter:$viewValue"
            typeahead-template-url="search/tpl/typeaheadTemplateCustom.html"
            typeahead-wait-ms="300"
            required=""
            ]
          div error="{{fromIdError}}" error-tooltip="" 
      .b-inna-col-xs-3.b-inna-col-lg-6.b-inna-col-sm-12
        .b-inna-search-form-field.__typeahead
          input.b-inna-search-form-field-input [
            ng-change="toIdError = null"
            name="ArrivalId" 
            ng-model="search.ArrivalId"
            placeholder="Куда"
            type="text"
            typeahead="state as state.name for state in getLocationTo($viewValue) | filter:$viewValue"
            typeahead-template-url="search/tpl/typeaheadTemplateCustom.html"
            typeahead-wait-ms="300"
            required=""
            ]
          div error="{{toIdError}}" error-tooltip="" 
      .b-inna-col-xs-3.b-inna-col-lg-6.b-inna-col-sm-12
        .b-inna-search-form-field.b-inna-row.input-daterange
          .b-inna-col-xs-6
            input.b-inna-search-form-field-input.b-inna-datapicker.from_date [
              name="StartVoyageDate" 
              ng-model="search.StartVoyageDate"
              placeholder="Туда"
              type="text"
              required=""
              ] 
          .b-inna-col-xs-6
            input.b-inna-search-form-field-input.b-inna-datapicker.to_date [
              name="EndVoyageDate" 
              ng-model="search.EndVoyageDate"
              placeholder="Обратно"
              type="text"
              required=""
              ] 
      .b-inna-col-xs-3.b-inna-col-lg-6.b-inna-col-sm-12
        .b-inna-row
          .b-inna-col-xs-6
            .b-wrapp_type_inline [
            adult-count="search.Adult" 
            children-count="search.childrenCount" 
            childrens-age="search.childrensAge" 
            counter-people=""
            ] 
          .b-inna-col-xs-6
            .b-inna-search-form-field.__action
              button.b-inna-btn ng-click="startSearch(searchForm)"  Найти