@import "vars.styl"
$fa-font-path = "../../libs/font-awesome-stylus/fonts"
@import "../../libs/bootstrap-stylus/stylus/bootstrap.styl"
@import "../../libs/font-awesome-stylus/stylus/index.styl"
@import "nav.styl"



html{
    position: relative;
    min-height: 100%;
}
body{
    margin-bottom: 60px;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #000;
}
.container-content{
    padding-top 60px
}
.container .text-muted{
    margin: 20px 0;
}
.footer > .container{
    padding-right: 15px;
    padding-left: 15px;
}
code{
    font-size: 80%;
}
a{
    outline none !important
}
    
.container-content.ng-leave{
    position: relative;
}
.container-content.ng-enter{
    position: absolute;
}
.container-content.ng-enter, .container-content.ng-leave{
    -webkit-transition: -webkit-transform 0.3s ease-in, opacity 0.3s ease-in;
    -moz-transition: -moz-transform 0.3s ease-in, opacity 0.3s ease-in;
    -o-transition: -o-transform 0.3s ease-in, opacity 0.3s ease-in;
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}
.container-content.ng-enter, .container-content.ng-leave.ng-leave-active{
    -webkit-transform: scaleX(0.0001);
    -o-transform: scaleX(0.0001);
    transform: scaleX(0.0001);
    opacity: 0;
}
.container-content, .container-content.ng-enter.ng-enter-active{
    -webkit-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
}