@import "vars.styl"
$fa-font-path = "../../libs/font-awesome-stylus/fonts"
@import "../../libs/bootstrap-stylus/stylus/bootstrap.styl"
@import "../../libs/font-awesome-stylus/stylus/index.styl"

body{
    /*background url('../img/test.jpg') no-repeat 0 0*/
}